@media only screen and (max-width: 992px) {
    #menu__btn {
        display: block;
    }

    nav {
        top: 78px;
        background-color: var(--black);
        width: 400px;
        position: absolute;
        border-radius: 4px;
        padding: 20px;
        display: none;
        right: 3px;

    }

    nav ul li {
        display: block;
        margin: 0;
        padding: 5px 10px;
    }

    nav.nav__toggle {
        display: block;
    }

    .banner__inner {
        padding: 40px;
    }

    .about__row {
        flex-direction: row;
        display: flex;
        align-items: center;
    }

    .gallery__col {
        width: 50%;
    }

    .services__col {
        width: 50%;
    }

    .contact__row {
        display: flex;
        flex-direction: column;
    }

    .contact__row .contact__col {
        width: 100%;
    }

    .contact__map {
        margin: 40px 0 0;
    }

    .contact__map iframe {
        width: 100%;
    }

    .footer__row {
        display: flex;
    }
    
    .footer__col {
        width: 50%;
    }

    .footer__details {
        margin-bottom: 40px;
    }

    .footer__details ul {
        margin: 0;
    }

}

@media only screen and (max-width: 768px) {
    .banner__inner {
        width: 100%;
    }

    .about__row {
        flex-direction: column;
    }

    .about__col {
        width: 100%;
    }

    .about__img {
        margin-top: 40px;
    }

    .gallery__col {
        width: 100%;
    }

    .services__col {
        width: 100%;
    }

    .footer__col {
        width: 100%;
    }

    .footer__nav {
        margin: 0 0 40px;
    }

}